{% extends 'base.html.twig' %}

{% block title %}Troubleshooting - Dépannage informatique en ligne{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



        <div class="section bg-white services-section" data-aos="fade-up">
          <div class="container">
            <div class="row section-heading justify-content-center mb-5">
              <div class="col-md-8 text-center">
                <h2 class="heading mb-3">Qui sommes-nous</h2>
                <p class="sub-heading mb-5">{{presentation}}</p>  
              </div>
            </div>
            <div class="row">
              <div class="col-m mb-5d-6 col-lg-4" data-aos="fade-up">
                <div class="media feature-icon d-block text-center">
                  <div class="icon">
                    <span class=""></span>
                  </div>
                  <div class="media-body">
                    <h3>Le projet</h3>
                    <p>Cr&eacute;er une application Web d&apos;&eacute;dition de tickets d&apos;intervention pour du d&eacute;pannage</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">
                <div class="media feature-icon d-block text-center">
                  <div class="icon">
                    <span class=""></span>
                  </div>
                  <div class="media-body">
                    <h3>Principe</h3>
                    <p>Des utilisateurs remplissent en ligne des tickets de demande d&apos;intervention.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="300">
                <div class="media feature-icon d-block text-center">
                  <div class="icon">
                    <span class=""></span>
                  </div>
                  <div class="media-body">
                    <h3>Membre : Nidhal Amri</h3>
                    <p>Venu de pro, il est pr&ecirc;t &agrave; en d&eacute;coudre pour aider &agrave; r&eacute;aliser ce projet</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="500">
                <div class="media feature-icon d-block text-center">
                  <div class="icon">
                    <span class=""></span>
                  </div>
                  <div class="media-body">
                    <h3>Membre : Hugo Garoste</h3>
                    <p>Ne l&acirc;che jamais rien pour parvenir &agrave; son objectif</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="300">
                <div class="media feature-icon d-block text-center">
                  <div class="icon">
                    <span class=""></span>
                  </div>
                  <div class="media-body">
                    <h3>Membre : Hugo Gilles</h3>
                    <p>Toujours motivateur, il fera tout pour avoir le meilleur site possible</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="500">
                <div class="media feature-icon d-block text-center">
                  <div class="icon">
                    <span class=""></span>
                  </div>
                  <div class="media-body">
                    <h3>Membre : Esteban Pascual</h3>
                    <p>Indispensable ! Un vrai cerveau, il guidera l&apos;&eacute;quipe vers son but</p>
                  </div>
                </div>
              </div>
			</div>
            </div>
          </div>

{% endblock %}
